<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/50ea1a22-ca2c-49b5-a969-732268074d94/resourceGroups/Backend/providers/Microsoft.Web/sites/betaskapp</ResourceId>
    <ResourceGroup>Backend</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://betaskapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>74552ac5-3680-4880-997c-2387116057d6</ProjectGuid>
    <PublishUrl>https://betaskapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$betaskapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>